/* poppins font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
}

/* nav style section */

header {
    max-width: 1440px;
    background: #fff;
    padding: 80px 120px;

}

nav ul {
    list-style: none;
    display: flex;

}

nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

a,
.nav-img {
    text-decoration: none;
    margin-right: 25px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

nav h3 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
    width: 245px;
}

.head {
    display: flex;



}

.head-left {
    padding-right: 130px;
}

.head-title {
    color: #3A3A3A;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    width: 580px;
    height: 130px;
}

.head-discription {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    width: 500px;
    height: 60px;

}

.head-right {
    padding-top: 50px;
}

.head-img1 {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 375px;

}

.head-img2 {
    position: absolute;
    width: 400px;
    height: 375px;




}

button {
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border: 0;
}

/* company logo style section */
.company-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 200px 120px 0px 120px;
   width: auto;
   
}

.logo{
    padding: 30px;
    

}
